:root {
    --color_primary: #083d77;
    --color_secondary: #eed;
    --color_alert: #f4d35e;
    --color_danger: #f95738;
    --color_success: #027a00;
    font-family: 'Segoe UI';
    user-select: none;
    --fillColor: transparent;
    --strokeColor: black;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

header {
    max-width: 100%;
    background: var(--color_primary);
    color: white;
    display: grid;
    grid-template-columns: var(--header-grid-template-column);
    grid-auto-rows: 1fr;
    grid-gap: var(--header-grid-gap);
    padding: var(--header-padding);
    align-content: center;
    justify-content: center;
}

#colorSelector {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(200, 200, 200, 0.5);
    display: grid;
    grid-template-columns: var(--colorSelector-grid-template-columns);
    grid-gap: 10px;
    display: none;
    padding: 100px;
    text-align: center;
}

@media (max-width: 800px) {
    header {
        --header-grid-template-column: 1fr;
        --header-grid-auto-rows: 1fr;
        --header-padding: 0 20px;
        --header-grid-gap: 10px;
    }
    #colorSelector {
        --colorSelector-grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 801px) {
    header {
        --header-grid-template-column: repeat(6, 1fr);
        --header-grid-gap: 20px;
        --header-padding: 15px;
    }
    .toolSelectNav {
        grid-column: span 2;
    }
    #colorSelector {
        --colorSelector-grid-template-columns: repeat(5, 1fr);
    }
}

header>h1 {
    padding: 0;
    margin: 0;
    font-weight: 100;
    text-align: center;
}

nav {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

nav>button {
    background-color: var(--color_secondary);
    border: 1px solid gray;
}

nav>button:first-child {
    border-radius: 5px 0 0 5px;
}

nav>button:last-child {
    border-radius: 0 5px 5px 0;
}

nav>button:focus {
    border: 2px inset darkgray;
    outline: 0;
}

nav input {
    width: 100%;
    grid-column: span 2;
    font-size: 1.25em;
    text-align: center;
    background: #fff;
    border: 1px solid gray;
}

#fillPreview {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-color: var(--fillColor);
}

#borderPreview {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-color: var(--strokeColor);
}

#colorSelector>div {
    width: 100%;
    height: 100%;
    background: var(--color);
}

#colorSelector>div:hover {
    box-shadow: 0px 0px 10px 2px var(--color);
}